@use '../../../mixins.scss'as mixins;

.card-container {

  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

  @include mixins.atMedium {
    grid-template-columns: repeat(2, 15rem);
  }

  @include mixins.atLarge {
    grid-template-columns: repeat(4, 15rem);
  }

  &__card {
    width: 100%;
    height: 18rem;

    &:hover {
      transform: scale(1.05);
      transition: transform ease 0.5s;
    }

    @include mixins.atMedium {
      width: 15rem;
    }

    @include mixins.atMedium {
      width: 15rem;
    }

    .card-name {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis
    }

    .card-body {
      display: flex;
      flex-direction: column;
      height: 100%;

      .card-title {
        flex-grow: 1;
        overflow: hidden;
        white-space: pre-wrap;

      }

      .card-buttons {
        align-self: end;
      }
    }
  }
}
